@charset "utf-8";
html{background:#fff;}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{margin:0;padding:0;}
/*  HTML5  */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
fieldset, img{border:none;}
img{vertical-align:middle;}
address, caption, cite, code, dfn, th, var{font-style:normal;font-weight:normal;}
ul, li{list-style:none;}
input{padding:0px;font-family: "微软雅黑";}

/* m_map */
.m_map{width:989px;height:724px;margin:30px auto;position:relative;;}


